!!!
%html
  %head
    %title
      = "Sudoku Solver"
    %link{:rel => :stylesheet, :type => :"text/css", :href => "style.css"}
  %body
    %h1
      = "Sudoku Solver"

    .sudoku
      %table

        %tr
          %td
          %td
          %td.border-right

          %td
          %td
          %td.border-right

          %td
          %td
          %td

        %tr
          %td
          %td
          %td.border-right

          %td
          %td
          %td.border-right

          %td
          %td
          %td

        %tr
          %td
          %td
          %td.border-right

          %td
          %td
          %td.border-right

          %td
          %td
          %td


        %tr.border-top
          %td
          %td
          %td.border-right

          %td
          %td
          %td.border-right

          %td
          %td
          %td

        %tr
          %td
          %td
          %td.border-right

          %td
          %td
          %td.border-right

          %td
          %td
          %td

        %tr
          %td
          %td
          %td.border-right

          %td
          %td
          %td.border-right

          %td
          %td
          %td


        %tr.border-top
          %td
          %td
          %td.border-right

          %td
          %td
          %td.border-right

          %td
          %td
          %td

        %tr
          %td
          %td
          %td.border-right

          %td
          %td
          %td.border-right

          %td
          %td
          %td

        %tr
          %td
          %td
          %td.border-right

          %td
          %td
          %td.border-right

          %td
          %td
          %td
